body,
html {
	height: 100%
}

canvas {
	display: inline-block;
	background-color: #575756;
	z-index:-10;
}

#particles-js {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:-10;
}

.navbar {
	border-radius: 5px;
	margin-bottom: 30px;
	margin-top: 5px;
}

.d-block {
	border-radius: 16px;
}

.carousel-title {
	margin-bottom: 4.5rem;
	color: #0275ff;
	letter-spacing: 0.8rem;
}

.carousel-main-description {
	margin-bottom: 12rem;
	color: #fff;
	font-size: large;
}

.carousel-title-other {
	margin-bottom: 15.5rem;
	color: #0275ff;
	letter-spacing: 0.8rem;
}

.img-address {
	padding: 1rem;
	vertical-align: middle;
}

.img-portfolio {
	width: 85%;
	padding: 1rem;
}

.card-text-main {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: -webkit-center;
    font-size: xx-large;
    color: #009ee3;
}

.card-text-address-title {
	color: #fff;
	font-size: medium;
}

.card-text-address {
	color: #fff;
	font-size: smaller;
}

.card-title-portfolio {
	color: #575756;
	font-size: smaller;
}

.row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.card-text {
    text-align: justify;
}

.white-text {
	text-align: -webkit-center;
	color: aliceblue;
}

.accountNotFound {
	text-align: center;
	color: #009ee3;
}

.card-title {
	text-align: center;
	color: #009ee3;
}

.card-text-coffee {
	text-align: center;
	font-style: italic;
}

card-text-panel {
    text-align: -webkit-center;
}

.commissions, .last-update {
	text-align: center;
	color: #009ee3;
}

.thumbnail {
	position: relative;
}


.readonly {
	margin-bottom: -1.5rem;
}

.my-list-group-item {
	position: relative;
	display: -ms-flexbox;
	display:  flow-root;;
	flex-flow: row wrap;
	align-items: center;
	padding: .75rem 1.00rem;
	margin-bottom: -1px;
	background-color: #fff;
	/* border: 1px solid rgba(0,0,0,.125); */
}

.order-card{
	margin-top: 1.0rem;
	border-radius: 10px;
	color: #fff;
	background-color: #009ee3;
	border: 1px solid rgba(0,158,227, .90);
	text-align:center!important
}



.card-main {
	background-color: rgba(245, 245, 245, 1);
	opacity: .4;
}