{{ define "title" }}Account Status{{ end }}
{{ define "content"}}

<div class="row">
    <div class="col-12">
        <div class="thumbnail text-center">
            <img class="img-fluid" src="/static/images/teaching/teaching.png" alt="Greater Commons">
            <h6 class="card-text-main">your account is either temporarily disabled, suspended or revoked.
                Please contact the <a href="mailto:info@onezerobinary.com">Administration</a>
            </h6>
        </div>
    </div>
</div>

{{ end }}
